.about-container {
  margin: auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  background: transparent;
}

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.containers {
  display: flex;
  text-align: left;
  line-height: 200%;
}

.containers h1 {
  font-size: 220%;
}

.containers h2 {
  padding-top: 1%;
  font-size: 170%;
}

.containers p {
  font-size: 110%;
  padding-top: 1%;
}

.image-1 {
  margin-top: -5%;
  height: 70%;
  width: 70%;
}

#front {
  height: auto;
  width: 100%;
  padding: 3% 0%;
  text-align: center;
  background: rgb(5, 134, 219);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#front h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 250%;
  font-family: cursive;
  text-shadow: 1px 1px 20px rgb(41, 41, 41);
}

#front p {
  margin-top: -8%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 130%;
  padding: 0px 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.04cm;
}

#front img {
  margin-top: -5%;
  height: 70%;
  width: 70%;
}

#first {
  width: 90%;
  height: auto;
  padding: 5% 5%;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-between;
}

#first div {
  text-align: left;
}

#first p {
  font-size: 120%;
  padding-top: 3%;
  color: rgb(0, 0, 0);
}

#first h2 {
  padding: 2%;
  padding-top: 4%;
}

#first h1 {
  padding: 0;
}

.comm {
  width: 100%;
  background: rgb(247, 189, 189);
  height: 2%;
  padding: 0.5%;
}

#comm1 {
  width: 0%;
  height: 100%;
  background: rgb(255, 23, 23);
  transition: all 5s ease;
}

.reveal.active #comm1 {
  width: 90%;
}

.reveal.active #comm2 {
  width: 85%;
}

.reveal.active #comm3 {
  width: 70%;
}

#comm2 {
  width: 0%;
  height: 100%;
  background: rgb(241, 44, 44);
  transition: all 5s ease;
}

#comm3 {
  width: 0%;
  height: 100%;
  background: rgb(250, 61, 61);
  transition: all 5s ease;
}

#second {
  width: 90%;
  height: auto;
  padding: 0px 5%;
  padding-top: 7%;
  background: transparent;
  transition: 1s all;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#third {
  width: 100%;
  height: auto;
  margin-top: 5%;
  background: rgba(65, 132, 255, 0.897);
  padding: 5% 0%;
}

.h3-class {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

#third_cards {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

#third_cards div {
  margin: 0% 2%;
  padding: 2% 2%;
  background: linear-gradient(30deg, rgb(60, 200, 255), rgb(72, 255, 72));
  border-radius: 20px;
  line-height: 160%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#third_cards div:hover {
  color: white;
}

#third_cards div:before {
  content: "";
  position: absolute;
  margin-top: -28px;
  height: 41%;
  width: 26.5%;
  margin-left: -23px;
  border-radius: 20px;
  z-index: 1;
  opacity: 0.2;
}

#third_cards div:hover:before {
  background: rgb(43, 117, 255);
}

#third_cards div h2 {
  padding: 8% 0px;
  font-size: 140%;
  text-align: center;
  color: rgb(255, 255, 255);
}

#third_cards div p {
  font-size: 120%;
  text-align: center;
  color: rgb(234, 255, 247);
}

#fourth {
  height: auto;
  width: 100%;
  padding: 4% 0%;
  background: rgba(65, 132, 255, 0.897);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.h1-class {
  text-align: center;
  padding: 2% 20%;
}

#fourth_cards {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 5%;
}

#fourth_cards div {
  margin: 0% 1%;
  padding: 5% 5%;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(2, 101, 167, 0.801);
  background: linear-gradient(45deg,
      rgba(193, 193, 247, 0.74),
      rgb(0, 91, 165) 30%);
  text-align: center;
  transition: all 0.5s ease;
}

#fourth_cards div p {
  padding-top: 20px;
  font-weight: bolder;
  color: white;
}

#fourth_cards div:hover {
  background: linear-gradient(40deg,
      rgb(2, 54, 133) 80%,
      rgba(109, 135, 255, 0.74) 80%);
  border-bottom-right-radius: 10%;
  border-left: 2px rgb(255, 255, 255) solid;
  border-bottom: 2px rgb(255, 255, 255) solid;
}